verifactu-connector/FacturaJustificanteV1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:siff="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/desarrolladores/wisesdi/sif/schemas/FacturaJustificanteV1.xsd" xmlns:sif="http://www.aeat.es/especificaciones/Desarrolladores/Suministro_Immediate_Information/Schemas_Version_1_0/SuministroInformacion.xsd" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/desarrolladores/wisesdi/sif/schemas/FacturaJustificanteV1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.aeat.es/especificaciones/Desarrolladores/Suministro_Immediate_Information/Schemas_Version_1_0/SuministroInformacion.xsd" schemaLocation="SuministroInformacion.xsd"/>
	<xs:element name="SuministroFacturasJustificantes" type="siff:SuministroFacturasJustificantes"/>
	<xs:element name="RespuestaSuministro" type="siff:RespuestaSuministro"/>
	<xs:complexType name="SuministroFacturasJustificantes">
		<xs:sequence>
			<xs:element name="Cabecera" type="sif:CabeceraSii"/>
			<xs:element name="Registro" type="siff:FacturaJustificanteType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RespuestaSuministro">
		<xs:sequence>
			<xs:element name="Respuesta" type="sif:RespuestaComunitariaType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacturaJustificanteType">
		<xs:sequence>
			<xs:element name="ID" type="sif:IDOtroType"/>
			<xs:element name="FechaOperacion" type="sif:fecha"/>
			<xs:element name="Importe" type="sif:ImporteSgnType"/>
			<xs:element name="Concepto" type="sif:TextM"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>