verifactu-connector/SuministroInformacion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sii="http://www.aeat.es/especificaciones/Desarrolladores/Suministro_Immediate_Information/Schemas_Version_1_0/SuministroInformacion.xsd" targetNamespace="http://www.aeat.es/especificaciones/Desarrolladores/Suministro_Immediate_Information/Schemas_Version_1_0/SuministroInformacion.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="CabeceraSii">
		<xs:sequence>
			<xs:element name="IDVersionSii" type="sii:VersionSiiType"/>
			<xs:element name="Titular" type="sii:Titular"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Titular">
		<xs:sequence>
			<xs:element name="NombreRazon" type="sii:TextM"/>
			<xs:element name="NIF" type="sii:NIFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RespuestaComunitariaType">
		<xs:sequence>
			<xs:element name="CSV" type="sii:TextM" minOccurs="0"/>
			<xs:element name="DatosPresentacion" type="sii:DatosPresentacionType"/>
			<xs:element name="Cabecera" type="sii:CabeceraSii"/>
			<xs:element name="Estado" type="sii:EstadoEnvioType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosPresentacionType">
		<xs:sequence>
			<xs:element name="NIFPresentador" type="sii:NIFType"/>
			<xs:element name="TimestampPresentacion" type="sii:fechaHora"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDOtroType">
		<xs:sequence>
			<xs:element name="CodigoPais" type="sii:CountryType" minOccurs="0"/>
			<xs:element name="IDType" type="sii:IDOtroTypeType"/>
			<xs:element name="ID" type="sii:TextM"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="VersionSiiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextM">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NIFType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fecha">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-3][0-9]-[0-1][0-9]-[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fechaHora">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-3][0-9]-[0-1][0-9]-[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImporteSgnType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\-)?([0-9]{1,13}(\.[0-9]{1,2})?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EstadoEnvioType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Correcto"/>
			<xs:enumeration value="ParcialmenteCorrecto"/>
			<xs:enumeration value="Incorrecto"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDOtroTypeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>